# PPP is required by esp_modem data mode.
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
CONFIG_LWIP_PPP_ENABLE_IPV6=n

# Move2 production defaults.
CONFIG_MOVE2_USE_LTE=y
CONFIG_MOVE2_LTE_APN="java.claro.com.br"
CONFIG_MOVE2_LTE_APN_USER="Claro"
CONFIG_MOVE2_LTE_APN_PASS="Claro"
CONFIG_MOVE2_LTE_CONNECT_TIMEOUT_MS=60000
CONFIG_MOVE2_MQTT_URI="mqtts://eaa7d5aa.ala.eu-central-1.emqxsl.com:8883"
CONFIG_MOVE2_MQTT_USERNAME="modcs"
CONFIG_MOVE2_MQTT_PASSWORD="12345678"
CONFIG_MOVE2_CAN_TX_GPIO=23
CONFIG_MOVE2_CAN_RX_GPIO=36
CONFIG_MOVE2_CAN_BITRATE=500000
